{% extends "::base.html.twig" %}
{% form_theme form 'IntaroLibraryBundle:Form:form.html.twig' %}

{% block title %}
    {% if id %}Редактирование книги{% else %}Добавление книги{% endif %}
{% endblock %}
{% block h1 %}
    {% if id %}Редактирование книги "{{ book.title }}"{% else %}Новая книга{% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-10">
    {{ form(form) }}
    </div>
    <div class="col-md-2">
        {% if id %}
        <img src="{{ book.cover }}" width="125" height="125" class="img-thumbnail" alt="Нет обложки" />
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#book_delete").click(function(){return confirm("Вы действительно хотите удалить эту книгу?");});
    </script>
{% endblock %}
